.rs-datagrid-pager{
    width: 100%;
    .rs-datagrid-pager-size-list{
        margin-top: 5px;
        margin-right: 5px;
        .rs-datagrid-pager-size-item{
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
    .rs-datagrid-pager-number-list{
        margin-top: 5px;
        margin-left: 5px;
        .rs-datagrid-pager-number-item{
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

}