

.rs-data-grid-table{
    width: 100%;
    .rs-data-grid-table-row{
        width:100%;
        .rs-data-grid-table-cell{
            margin-left:5px;
            font-size: 18px;
            width: 100%;
        }
    }
}