<div [class.border-area-small]="tableBorder">
  <rsivri-grid-hedaer [columns]="columns"
                      [data] = "allData()"
                      [headerColumnLines] = "this.headerColumnLines"
                      [bodyColumnLines] = "this.bodyColumnLines"
                      [headerRowLines] = "this.headerRowLines"
                      [borderRadiusTop] = "this.borderRadiusTop"
                      [tableBorder] = "this.tableBorder"
                      [filtering] = "this.filtering"
                      (filterChange) = "onFilterChange($event)">
  </rsivri-grid-hedaer>
  <rsivri-grid-body [columns]="columns"
                    [data]="remoteModeParams ? (data() ?? []) : pagination ? (data() ?? []).slice(pageNumber() * pageSize(), (pageNumber() + 1) * pageSize()) : (data() ?? [])"
                    [bodyColumnLines] = "this.bodyColumnLines"
                    [bodyRowLines] = "this.bodyRowLines"
                    [tableBorder] = "this.tableBorder"
                    [borderRadiusBottom] = "this.borderRadiusBottom"
                    [diagonalRow] = "this.diagonalRow"
                    [currentPagingSize] = "currentPagingSize"
  >
  </rsivri-grid-body>

  <rsivri-grid-pager [pagination] = "pagination"
                     [pagingSizes] = "pagingSizes"
                     [pageListSize] = "pageListSize"
                     [currentPagingSize] = "currentPagingSize">

  </rsivri-grid-pager>
</div>
