.full-row{
  width: 100%;
}

.row-layout{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.border-area-1{
  border: 1px solid #cccccc;
}

.border-area-2{
  border: 2px solid #cccccc;
}

.border-area-3{
  border: 3px solid #cccccc;
}

.border-area-small{
  border-radius: 5px;
}

.border-area-medium{
  border-radius: 10px;
}

.border-area-large{
  border-radius: 15px;
}
