<div class="column-layout full-row">
  @for (item of data; track $index; let i = $index) {
    <div class="full-row"
      [class.row-style]="tableBorder"
      [class.row-style-bottom]="(tableBorder && i === data.length - 1) || (bodyRowLines && i !== data.length - 1)"
      [class.border-area-small]="borderRadiusBottom && i === data.length - 1"
      [class.row-background]="i % 2 == 1 && diagonalRow">
      <div class="full-row row-layout">
        @for (column of columns; track column.dataField; let j = $index) {
          <div class="full-row section-style row-layout-center-center"
            [class.border-right]="bodyColumnLines && j < columns.length - 1">
            {{ item[column.dataField] }}
          </div>
        }
      </div>
    </div>
  }
</div>
