<rsivri-grid
  [fetchUrl] = "'https://restcountries.com/v2/all'"
  [headerRowLines] = "true"
  [columns] = "[{caption: 'Name', dataField: 'name'}, {caption: 'Capital', dataField: 'capital'}, {caption: 'NativeName', dataField: 'nativeName'}]"
  [headerColumnLines] = "false"
  [bodyRowLines] = "true"
  [bodyColumnLines] = "true"
  [tableBorder] = "true"
  [borderRadiusTop] = "true"
  [borderRadiusBottom] = "false"
  [diagonalRow] = "true"
  [pagination] = "true"
  [pagingSizes] = "[10,20,50,70,100]"
  [currentPagingSize] = "10"
  [pageListSize] = "5"
>
</rsivri-grid>
