<div style="width: 100%; min-height: 100vh; margin: 0;" [style.background]="gridConfig()['theme'] === 'light' ? '#ffffff' : '#1c1e21'">
<rs-grid #grid
  [theme]="gridConfig()['theme']"
  [fetchUrl]="gridConfig()['fetchUrl']"
  [fetchMethod]="gridConfig()['apiMethod']"
  [fetchHeaders]="gridConfig()['apiHeaders']"
  [authToken]="gridConfig()['authToken']"
  [entrySection]="gridConfig()['entrySection']"
  [remoteMode]="gridConfig()['remoteMode']"
  [dataSource]="gridConfig()['dataSource']"
  [headerRowLines]="gridConfig()['headerRowLines']"
  [headerColumnLines]="gridConfig()['headerColumnLines']"
  [showFilter]="gridConfig()['showFilter']"
  [showSort]="gridConfig()['showSort']"
  [showSearch]="gridConfig()['showSearch']"
  [showActions]="gridConfig()['showActions']"
  [showAdd]="gridConfig()['showAdd']"
  [showGridSettings]="gridConfig()['showGridSettings']"
  [showIndex]="gridConfig()['showIndex']"
  [gridMode]="gridConfig()['gridMode']"
  [exportExcel]="gridConfig()['exportExcel']"
  [exportPDF]="gridConfig()['exportPDF']"
  (rowAdd)="onRowAdd($event)"
  (rowEdit)="onRowEdit($event)"
  (rowDelete)="onRowDelete($event)"
  (batchSave)="onBatchSave($event)"
  [bodyRowLines]="gridConfig()['bodyRowLines']"
  [bodyColumnLines]="gridConfig()['bodyColumnLines']"
  [tableBorder]="gridConfig()['tableBorder']"
  [borderRadiusTop]="gridConfig()['borderRadiusTop']"
  [borderRadiusBottom]="gridConfig()['borderRadiusBottom']"
  [diagonalRow]="gridConfig()['diagonalRow']"
  [dragDropColumns]="gridConfig()['dragDropColumns']"
  [dragDropRows]="gridConfig()['dragDropRows']"
  [pagination]="gridConfig()['pagination']"
  [pagingSizes]="gridConfig()['pagingSizes']"
  [currentPagingSize]="gridConfig()['currentPagingSize']"
  [pageListSize]="gridConfig()['pageListSize']"
>
  <ng-template #loadingTpl>
    <div class="demo-loading">⏳ Universities are loading…</div>
  </ng-template>
  <ng-template #errorTpl let-err>
    <div class="demo-error">Failed to load universities: {{ err?.message }}</div>
  </ng-template>
</rs-grid>
</div>
