.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.column-start-layout{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.row-start-layout{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.row-layout-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}