.rs-data-grid-header{
    border-bottom: 1px solid #ccc;
    width: 100%;
    .rs-data-grid-header-row{
        width: 100%;
        .rs-data-grid-header-item{
            width: 100%;
        }
    }
}